body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #00ff00;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}
/* Estilos para la sección del estado del servidor */
.server-status {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: auto;
}

/* Lista de jugadores conectados */
#player-list-container {
    margin-top: 10px;
    display: none; /* Ocultar si no hay jugadores */
}

#player-list {
    list-style: none;
    padding: 0;
}

#player-list li {
    background: rgba(255, 255, 255, 0.1);
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}
